[flake8]
# Global ignores
ignore = 
    # trailing whitespace
    W291,
    # line break before binary operator
    W503,
    # line break after binary operator
    W504

# Per-file ignores
per-file-ignores = 
    # imported but unused
    __init__.py:F401

# PEP8 max line length is 79
max-line-length = 79
